:root {
    --azul: #17BAB8;
    --azulHover: #13ADAA;
    --verdeOscuro: #0E7271;
    --grisOscuro: #2C2C31;
    --grisOscuroClaro: #3d3d43;
    --grisClaro: #E4E9F0;
    --grisIconos: #757575;
}

@font-face {
    font-family: "ebrima";
    src: url("../fonts/ebrima.ttf");
}

::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar
{
    width: 8px;
    background-color: #ffffff;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.21);
    background-color: var(--grisIconos);
}
.mtop60{
    margin-top: 60px;
}
#content{
    width: 100%;
}
/* ========= GLOBALES ========== */
body{
    background-color: var(--grisClaro);
    min-width: 300px;
}
header.header{
    height: 60px;
    background-color: white;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}
header.header div.left-top-bar{
    background-color: var(--azul);
    height: 60px;
    width: 100%;
}
@media only screen and (min-width: 591px) {
    header.header div.left-top-bar{
        width: 250px;
    }
}
header.header div.height60{
    height: 60px;
}
header.header div.left-top-bar div.height60 div.menuPrincipalBtn{

    transition: all ease 0.2s;
    margin-right: 1.5rem;
}
header.header div.left-top-bar div.height60 div.menuPrincipalBtn i{
    padding: 12px 10px;
}
header.header div.left-top-bar div.height60 div.menuPrincipalBtn:hover {
    background-color: var(--azulHover);
    cursor: pointer;
}
header.header div.left-top-bar div.icono i{
    font-size: 1.5rem;
    color: white;
}
header.header div.right-top-bar div.icono i{
    font-size: 1.5rem;
    color: var(--grisIconos);
}
header.header div.left-top-bar div.logo img{
    width: 100px;
}
header.header div.right-top-bar{
    background-color: white;
    height: 60px;
    width: 250px;
    display: none;
    padding: 0 6px;
}
@media only screen and (min-width: 591px) {
    header.header div.right-top-bar{
        display: inline-block;
    }
}
header.header div.right-top-bar div.icono{
    margin-right: 0.5rem;
    background-color: white;
    transition: all ease 0.2s;
}
header.header div.right-top-bar div.icono i{
    padding: 12px 10px;
}
header.header div.right-top-bar div.icono:hover{
    cursor: pointer;
}
header.header div.right-top-bar div.icono:hover i{
    color: var(--azul);
}
header.header div.right-top-bar div.icono:hover{
    background-color: #f3f3f3;
}

header.header div.left-top-bar div.menuMobil{
    display: flex;
}
@media only screen and (min-width: 591px) {
    header.header div.left-top-bar div.menuMobil{
        display: none;
    }
}
div#top-search-bar{
    display: none;
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    animation-duration: 0.3s;
}
main div.pageHeader{
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: var(--grisOscuroClaro);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 0.85rem 3rem 0.3rem 3rem;
    margin-bottom: 20px;
}
main div.pageContent{
    width: 100%;
    margin-bottom: 20px;
}
