:root {
    --azul: #17BAB8;
    --azulHover: #13ADAA;
    --verdeOscuro: #0E7271;
    --grisOscuro: #2C2C31;
    --grisOscuroClaro: #3d3d43;
    --grisClaro: #E4E9F0;
    --grisIconos: #757575;
}

@font-face {
    font-family: "ebrima";
    src: url("../fonts/ebrima.ttf");
}

/* ========= GLOBALES ========== */
body{
    background-color: var(--grisClaro);
    min-width: 300px;
}
header.header{
    height: 60px;
    background-color: white;
    padding: 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
}
header.header div.left-top-bar{
    background-color: var(--azul);
    height: 60px;
    width: 100%;
}
@media only screen and (min-width: 591px) {
    header.header div.left-top-bar{
        width: 250px;
    }
}
header.header div.height60{
    height: 60px;
}
header.header div.left-top-bar div.height60 div.menuPrincipalBtn{
    padding: 12px 10px;
    transition: all ease 0.2s;
    margin-right: 1.5rem;
}
header.header div.left-top-bar div.height60 div.menuPrincipalBtn:hover {
    background-color: var(--azulHover);
}
header.header div.left-top-bar div.icono i{
    font-size: 1.5rem;
    color: white;
}
header.header div.right-top-bar div.icono i{
    font-size: 1.5rem;
    color: var(--grisIconos);
}
header.header div.left-top-bar div.logo img{
    width: 100px;
}
header.header div.right-top-bar{
    background-color: white;
    height: 60px;
    width: 250px;
    display: none;
    padding: 0 6px;
}
@media only screen and (min-width: 591px) {
    header.header div.right-top-bar{
        display: inline-block;
    }
}
header.header div.right-top-bar div.icono{
    margin-right: 0.5rem;
    padding: 12px 10px;
    background-color: white;
    transition: all ease 0.2s;
}
header.header div.right-top-bar div.icono:hover{
    background-color: #f3f3f3;
}

header.header div.left-top-bar div.menuMobil{
    display: flex;
}
@media only screen and (min-width: 591px) {
    header.header div.left-top-bar div.menuMobil{
        display: none;
    }
}
div#top-search-bar{
    display: none;
    width: 100%;
    height: 60px;
    background-color: white;
    position: fixed;
    animation-duration: 0.3s;
}
.holadiv{
    background-color: red;
    width: 100px;
    height: 100px;
}
.holadiv p{
    font-family: 'FontAwesome';
}