.wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: var(--grisOscuro);
    color: #fff;
    transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
    transform-origin: center; /* Set the transformed position of sidebar to center left side. */
    height: 100vh;
}
#sidebar.active {
    margin-left: -250px;
    transform: rotateY(100deg); /* Rotate sidebar vertically by 100 degrees. */
}
.sidebar-header{
    background-color: #35353b;
    height: 140px;
}
.sidebar-header div.contenidoUsuario{
    padding-top: 1.5rem;
}
.sidebar-header div.imagenPerfilUsuario{
    display: inline-block;
}
.sidebar-header div.imagenPerfilUsuario img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.sidebar-header div.datosPerfilUsuario{
    display: inline-block;
    margin-left: 0.75rem;
}
.sidebar-header div.datosPerfilUsuario a{
    font-size: 0.95rem;
    line-height: 0.2rem;
    color: #aaaaaa;
    text-decoration: none;
}
.sidebar-header div.datosPerfilUsuario a:hover{
    color: var(--azul);
}
.sidebar-header div.controlSesionUsuario{
    text-align: center;
}
.sidebar-header div.controlSesionUsuario ul{
    padding: 0;
}
.sidebar-header div.controlSesionUsuario ul li{
    list-style: none;
    display: inline-block;
    margin: 0 5px;
}
.sidebar-header div.controlSesionUsuario ul li a{
    width: 40px;
    height: 40px;
    display: inline-block;
    color: #6c6c6f;
    text-align: center;
}
.sidebar-header div.controlSesionUsuario ul li a i{
    width: 40px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    font-size: 18px;
}
.sidebar-header div.controlSesionUsuario ul li:hover{
    background-color: var(--grisOscuro);
}

@media (max-width: 768px) {
    /* Reversing the behavior of the sidebar:
       it'll be rotated vertically and off canvas by default,
       collapsing in on toggle button click with removal of
       the vertical rotation.   */
    #sidebar {
        margin-left: -250px;
        transform: rotateY(100deg);
    }
    #sidebar.active {
        margin-left: 0;
        transform: none;
    }

    /* Reversing the behavior of the bars:
       Removing the rotation from the first,
       last bars and reappear the second bar on default state,
       and giving them a vertical margin */
    #sidebarCollapse span:first-of-type,
    #sidebarCollapse span:nth-of-type(2),
    #sidebarCollapse span:last-of-type {
        transform: none;
        opacity: 1;
        margin: 5px auto;
    }

    /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
    #sidebarCollapse.active span {
        margin: 0 auto;
    }
    #sidebarCollapse.active span:first-of-type {
        transform: rotate(45deg) translate(2px, 2px);
    }
    #sidebarCollapse.active span:nth-of-type(2) {
        opacity: 0;
    }
    #sidebarCollapse.active span:last-of-type {
        transform: rotate(-45deg) translate(1px, -1px);
    }
}

/* Botones de la barra de navegacion */
ul.navElements{
    list-style: none;
    padding-inline-start: 0;
}
ul.navElements ul li{
    background-color: #3a3b44;
}
ul.navElements li{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}
ul.navElements li.navItem{
    font-family: 'Roboto', sans-serif;
    font-size: 0.9rem;
}
ul.navElements li.navItem:hover a{
    color: var(--azul);
}
ul.navElements li.navItem:hover{
    cursor: pointer;
    background-color: var(--grisOscuroClaro);
}
ul.navElements li a{
    color: #868686;
    padding: 10px 15px;
    display: inline-block;
}
ul.navElements li a:hover{
    text-decoration: none;
}
ul.navElements ul{
    list-style: none;
}
ul.navElements ul.sub-menu{
    padding: 0;
}
ul.navElements ul.sub-menu.collapse.show{
    padding: 0;
}
ul.navElements li a.sub-menu-a{
    padding-left: 30px;
}